<!DOCTYPE css> 
<css lang="en">
<body>
<html>
header {background-color: darkblue}   
<head>
<style> ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="index.html">Home</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="School.html">School</a></li>
</ul>
</style>

h1 {color:floralwhite; 
background-color:firebrick}
nav>ul {
    padding-left: 5px; 
    line-height: 2em;
list-style-type: none;
text-decoration-color: white}
h2 {color: black;
    background-color:firebrick}
p1 {background-color: darkgray;}
li {text-decoration-color: white;}
p2{background-color: lightgray}
section {background color:aqua}
h2>ul {background-color:darkgray;}
h2>p>ul {background-color:#bbb }
footer {background-color: beige} 
</html>

